:root{
    --primaryColor: #4F2770;
    --secondaryColor: #efe9e7;
    --textColor: #fff;
}

body{
    background-color: #4F2770;  
}

#stars{
position: fixed;
background: url(stars.png);
background-size: 100vh;
width: 100%;
min-width: 100%;
max-width: 100%;
height: 80%;
z-index: -1;
}

#key{
    z-index: 5;
}

.title{
    display: flex;
    margin-top: 25px;
    justify-content: center;
    font-size: 25vh;
    font-family: "Press Start 2P";
    color: var(--textColor);
}


#footer{
position: fixed;
background: url(footer.png);
background-size: cover;
width: 100%;
height: 15%;
top: 85%;
right: 0px;
}

#buttonContainer{
    margin-top: 50px;
    display: flex;  
    justify-content: center;
    align-items: center;
    font-family: "Press start 2P";
    color: var(--textColor);
    background: url(startButton.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 20%;
    height: 12vh;
    
}

#buttonContainer h1{
    margin: 0;
    font-size: 4vh;
}

#buttonContainer:hover{
    background: url(startClicked.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 20%;
    height: 12vh;
    cursor: pointer;
}



