html{
    height:100%;
  }
  
  body{
    background-image: url("bg.png");
    background-size: cover;
  }
  
  .heart{
    height:3vh;
    width:3vh;
    margin: auto;
    vertical-align: middle;
  }
  
  #footer{
    position: absolute;
    background: url(footer.png);
    background-size: cover;
    width: 100%;
    height: 10vh;
    top: 92%;
    right: 0px;
    }
  
  .gameScreen{
    width: 75vw;
    height: 75vh;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1vh solid purple;
    background-color: black;
    border-radius: 2vw;

  }
  
  .gameHeader{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    justify-content: flex-start;
  }

  .gameBody{
  }

  .leftContent,
  .centerContent,
  .rightContent {
      flex: 1;
      display: flex;
      margin: 0 8%;
  }
  
  .lives, .mode, .score {
      color: white;
      font-family: "Press Start 2P";
      font-size: 1vw;
      margin-top: 1vh;
  }